# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dépendances (Ne jamais commiter node_modules !)
node_modules
.pnpm-store

# Build (Dossiers générés par Vite)
dist
dist-ssr
*.local

# Fichiers Systèmes (Mac/Windows/Linux)
.DS_Store
Thumbs.db
Desktop.ini

# Editeurs de code (VS Code, JetBrains...)
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Variables d'environnement (Sécurité !)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# TypeScript
*.tsbuildinfo